@{
    ViewData["Title"] = "Pharmacist Landing";
}


<h1>MEET OUR PHARMASISTS</h1>

<body style="background-color: lightgrey;">
    <div class="hero-wrap">
        <div class="overlay"></div>
        <div class="container">
            <div class="align-content-center">


                <p class="mb-4">The purpose of counselling is to improve personal effectiveness. It helps individuals make changes in their attitudes and perceptions. It aids as an assist in becoming aware of their emotional state.</p>

            </div>
        </div>
    </div>

    <section class="ftco-intro">
        <div class="container">
            <div class="row no-gutters">
                <!-- Senzo Sigcu Profile -->
                <div class="col span-1-of-3">
                    <div class="intro color-2 d-flex flex-row align-items-start">

                        <div class="text">
                            <h4>Senzo Sigcu</h4>
                            <p><strong>BUSINESS HOURS</strong></p>
                            <p>Monday - Friday 08:00 - 16:00</p>
                            <p>Saturday 08:00 - 13:00</p>
                            <p>Sunday & Public Holiday (CLOSED)</p>

                            <p><strong>CONTACT INFORMATION</strong></p>
                            <p><a href="tel:0415002323">041 500 2323</a></p>
                            <p><a href="mailto:senzo.sigcu@gmail.com">senzo.sigcu@gmail.com</a></p>
                            <img src="~/css/Individual.jpg" />
                        </div>
                    </div>
                </div>

                <!-- Zakwa Hlongwa Profile -->
                <div class="col span-1-of-3">
                    <div class="intro color-2 d-flex flex-row align-items-start">

                        <div class="text">
                            <h4>Zakwa Hlongwa</h4>
                            <p><strong>BUSINESS HOURS</strong></p>
                            <p>Monday - Friday 08:00 - 16:00</p>
                            <p>Saturday 08:00 - 13:00</p>
                            <p>Sunday & Public Holiday (CLOSED)</p>

                            <p><strong>CONTACT INFORMATION</strong></p>
                            <p><a href="tel:0714892323">071 489 2323</a></p>
                            <p><a href="mailto:zakwa.hlongwa@gmail.com">zakwa.hlongwa@gmail.com</a></p>
                            <img src="~/css/FamilyCounselling.jpg" />
                        </div>
                    </div>
                </div>

                <!-- Siyabonga Sitiba Profile -->
                <div class="col span-1-of-3">
                    <div class="intro color-2 d-flex flex-row align-items-start">

                        <div class="text">
                            <h4>Siyabonga Sitiba</h4>
                            <p><strong>BUSINESS HOURS</strong></p>
                            <p>Monday - Friday 08:00 - 16:00</p>
                            <p>Saturday & Sunday 08:00 - 13:00</p>
                            <p>Public Holiday (CLOSED)</p>

                            <p><strong>CONTACT INFORMATION</strong></p>
                            <p><a href="tel:0835781221">083 578 1221</a></p>
                            <p><a href="mailto:siyabonga.sitiba@yahoo.com">siyabonga.sitiba@yahoo.com</a></p>
                            <img src="~/css/FamilyCounselling.jpg" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section class="ftco-section">

    </section>

    <section class="ftco-section">

    </section>




</body>

 




