@{
    ViewData["Title"] = "Upload Successful";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Upload Successful!</h2>
<p>Prescription uploaded for @ViewBag.CustomerEmail.</p>
<p>File: @ViewBag.FileName</p>
<a class="btn btn-success" href="/">Go to Home</a>
